In [ ]:
#¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.
#Hagamos unas queries facilitas:
#Extraed el primer pedido donde se ha gastado más. Devolved el id del pedido y la cantidad gastada.
#Devuelve la misma query que en el anterior ejercicio, pero en este caso devuelve todos los resultados.
#Extraed el números de pedidos que se hayan hecho por dia. Devuelve los resultados en una dataframe.
#Extraer los pedidos hechos por "Nancy Daviolo". Tendréis que hacer una subquery.
#Para finalizar el ejercicio, desconectad la conexión con el servidor.

In [1]:
import mysql.connector

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

print(cnx)
cnx.close()

<mysql.connector.connection.MySQLConnection object at 0x7fac612215b0>

In [4]:
#Antes de empezar a trabajar con la BBDD de Northwind, conozcamos un poco las BBDD que tenemos en nuestro servidor. 
# ¿Qué BBDD tenemos en nuestro servidor?

import mysql.connector

mydb = mysql.connector.connect(
                  user='root', password='AlumnaAdalab',
                  host='127.0.0.1',
                  database='northwind')

mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('bbdd_nba',)
('ej_tienda',)
('information_schema',)
('leccion-1-sql',)
('leccion-10-sql',)
('leccion-11-sql',)
('leccion-12-sql',)
('leccion-13-sql',)
('leccion-14-sql',)
('leccion-2-sql',)
('leccion-3-sql',)
('leccion-4-sql',)
('leccion-5-sql',)
('leccion-6-sql',)
('leccion-7-sql',)
('leccion-8-sql',)
('leccion-9-sql',)
('mysql',)
('northwind',)
('performance_schema',)
('project1',)
('project1_team3',)
('sakila',)
('spotify',)
('sys',)
('tienda',)
('world',)
('Zapateria',)

In [3]:

#Empezemos a explorar la BBDD de Northwind. 
# ¿Qué tablas componen la BBDD? Recuerda que primero nos tendremos que conectar con la BBDD sobre la que queremos trabajar. 
# Guarda el resultado de los nombres de la tablas en una lista.


import mysql.connector

mydb = mysql.connector.connect(
              user='root', password='AlumnaAdalab',
              host='127.0.0.1',
              database='northwind'
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('categories',)
('customer_customer_demo',)
('customer_demographics',)
('customers',)
('employee_territories',)
('employees',)
('order_details',)
('orders',)
('products',)
('region',)
('shippers',)
('suppliers',)
('territories',)

In [29]:
#¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind' ;")

for x in mycursor:
  print(x)

('categories', 'category_id')
('categories', 'category_name')
('categories', 'description')
('categories', 'picture')
('customer_customer_demo', 'customer_id')
('customer_customer_demo', 'customertype_id')
('customer_demographics', 'customer_desc')
('customer_demographics', 'customer_type_id')
('customers', 'address')
('customers', 'city')
('customers', 'company_name')
('customers', 'contact_name')
('customers', 'contact_title')
('customers', 'country')
('customers', 'customer_id')
('customers', 'fax')
('customers', 'phone')
('customers', 'postal_code')
('customers', 'region')
('employee_territories', 'employee_id')
('employee_territories', 'territory_id')
('employees', 'address')
('employees', 'birth_date')
('employees', 'city')
('employees', 'country')
('employees', 'employee_id')
('employees', 'extension')
('employees', 'first_name')
('employees', 'hire_date')
('employees', 'home_phone')
('employees', 'last_name')
('employees', 'notes')
('employees', 'photo')
('employees', 'photo_path')
('employees', 'postal_code')
('employees', 'region')
('employees', 'reports_to')
('employees', 'title')
('employees', 'title_of_courtesy')
('order_details', 'discount')
('order_details', 'order_id')
('order_details', 'product_id')
('order_details', 'quantity')
('order_details', 'unit_price')
('orders', 'customer_id')
('orders', 'employee_id')
('orders', 'freight')
('orders', 'order_date')
('orders', 'order_id')
('orders', 'required_date')
('orders', 'ship_address')
('orders', 'ship_city')
('orders', 'ship_country')
('orders', 'ship_name')
('orders', 'ship_postal_code')
('orders', 'ship_region')
('orders', 'ship_via')
('orders', 'shipped_date')
('products', 'category_id')
('products', 'discontinued')
('products', 'product_id')
('products', 'product_name')
('products', 'quantity_per_unit')
('products', 'reorder_level')
('products', 'supplier_id')
('products', 'unit_price')
('products', 'units_in_stock')
('products', 'units_on_order')
('region', 'region_description')
('region', 'region_id')
('shippers', 'company_name')
('shippers', 'phone')
('shippers', 'shipper_id')
('suppliers', 'adress')
('suppliers', 'city')
('suppliers', 'company_name')
('suppliers', 'contact_name')
('suppliers', 'contact_title')
('suppliers', 'country')
('suppliers', 'fax')
('suppliers', 'home_page')
('suppliers', 'phone')
('suppliers', 'postal_code')
('suppliers', 'region')
('suppliers', 'supplier_id')
('territories', 'region_id')
('territories', 'territory_description')
('territories', 'territory_id')

In [22]:
#¿Qué columnas tiene cada una de las tablas? Para esto tendréis que hacer un for loop para que nos saque el resultado de todas las columnas.

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

lista_tablas= ['categories, customer_customer_demo, customer_demographics, customers, employee_territories, employees, order_details, orders, products, region, shippers, suppliers,territories']
query= ("SELECT * FROM COLUMNS WHERE TABLE_NAME =  %s")

mycursor = mydb.cursor()

mycursor.execute(query, lista_tablas)


for i in lista_tablas:
  print(i)
  for i in mycursor:
    print(mycursor.execute(query, lista_tablas))
  



SELECT TABLE_NAME, COLUMN_NAME FROM COLUMNS WHERE TABLE_SCHEMA = 'northwind' ;

categories, customer_customer_demo, customer_demographics, customers, employee_territories, employees, order_details, orders, products, region, shippers, suppliers,territories

In [28]:

import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="AlumnaAdalab",
  database="INFORMATION_SCHEMA"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM northwind")

for x in mycursor:
  print(x)

ProgrammingError: 1109 (42S02): Unknown table 'NORTHWIND' in information_schema

In [ ]:
import datetime

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')
cursor = cnx.cursor()

query = ("SELECT customer_number, status, order_date, order_number FROM orders "
         "WHERE order_date BETWEEN %s AND %s")

hire_start = datetime.date(2003, 1, 1)
hire_end = datetime.date(2003, 3, 31)
cursor.execute(query, (hire_start, hire_end))

for customer_number, status, order_date, order_number in cursor:
  print(f"El numero de orden {order_number}, esta en estado {status} con fecha {order_date}")

cursor.close()
cnx.close()